<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
<p style='font-size: 34px; font-weight: 600; font-family: serif;'>Invoice {{invoiceId}}</p>
<p style='font-size: 18px; font-weight: 100; font-family: serif;'>for {{companyName}}
<br>
issued on {{invoiceDate}}
<br>
from Insight Heroes
</p>
<p style='font-size: 18px; font-weight: 100; font-family: serif;'>Thanks for your business. If you received this invoice in error, please contact {{email}}</p>
<p style='font-size: 18px; font-weight: 100; font-family: serif;'>May the force be with you!</p>
<p style='font-size: 18px; font-weight: 100; font-family: serif;'>Team IH</p>
<p style='font-size: 12px; font-weight: 100; font-family: serif;'>Insight Heroes OÜ
<br>
Roosikrantsi TN 2-K139, Tallinn City, Harju County, 10119</p>
</body>

</html>
