<h1>Forbidden</h1>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  You are not authorized to access this resource
</div>
<div class="row">
    <div class="col-md-4 col-sm-12"></div>
    <div class="col-md-4 col-sm-12">
        <a class="btn btn-primary m-t-10" ui-sref="dashboard">Dashboard</a>
        <a class="btn btn-primary m-t-10" ui-sref="users.list">Users</a>
    </div>
    <div class="col-md-4 col-sm-12"></div>
</div>

