<section class="text-center">
	<p class="p-t-60 m-b-100 m-auto">
      <img src="../../../../../modules/core/client/img/insight-images/ih_logo_signin.png"/>
    </p>
    <h3 class="text-center gr-font m-b-40 f-22">PASSWORD SUCCESSFULLY RESET</h3>
    <p class="m-auto m-b-40">
	  <img  src="../../../../../modules/core/client/img/insight-images/ic_successful.png" srcset="../../../../../modules/core/client/img/insight-images/ic_successful@2x.png 2x" />
	</p>
    <button class="f-aveinr h-50 red-button text-center" ui-sref="authentication.signin">
        PROCEED TO SIGN IN
    </button>
</section>
