<!-- <section class="row text-center">
  <h3 class="col-md-12">Password reset is invalid</h3>
  <a ui-sref="password.forgot" class="col-md-12">Ask for a new password reset</a>
</section> -->
<section class="text-center authentication-message">
	<p class="p-t-60 m-b-100 m-auto">
      <img src="../../../../../modules/core/client/img/insight-images/ih_logo_signin.png"/>
    </p>
    <h3 class="text-center gr-font m-b-40 f-22">PASSWORD RESET IS INVALID</h3>
    <p class="m-auto m-b-40">
	  <i class="ion-ios-close-outline"></i>
	</p>
    <button class="f-aveinr h-50 red-button text-center" ui-sref="password.forgot">
    	ASK FOR A NEW PASSWORD RESET
    </button>
</section>
