<section>
  <div class="text-center">
    <p class="p-t-60 m-b-100 m-auto">
      <img src="../../../../../modules/core/client/img/insight-images/ih_logo_signin.png"/>
    </p>
    <h3 class="text-center gr-font m-b-10 f-22">RESET YOUR PASSWORD</h3>
    <div class="w-40 m-auto m-b-40">
      <p  class="text-center gr-font f-18">Please enter your new password below</p>
    </div>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 text-left">
      <form name="vm.resetPasswordForm" ng-submit="vm.resetUserPassword(vm.resetPasswordForm.$valid)" class="signin form-horizontal" novalidate autocomplete="off">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="newPassword" class="form-label">Enter New Password</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.passwordDetails.newPassword" placeholder="New Password" autocomplete="new-password" required>
            <div ng-messages="vm.resetPasswordForm.newPassword.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Enter a new password.</p>
              <div ng-repeat="passwordError in passwordErrors">
                <p class="help-block error-text" ng-show="vm.resetPasswordForm.newPassword.$error.requirements">{{passwordError}}</p>
              </div>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="verifyPassword" class="form-label">Confirm New Password</label>
            <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="vm.passwordDetails.verifyPassword" placeholder="Verify Password" password-verify="vm.passwordDetails.newPassword" required>
            <div ng-messages="vm.resetPasswordForm.verifyPassword.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Enter the password again to verify.</p>
              <p class="help-block error-text" ng-show="vm.resetPasswordForm.verifyPassword.$error.passwordVerify">Passwords do not match.</p>
            </div>
          </div>
          <div class="text-center form-group">
            <button type="submit" class="f-aveinr h-50 red-button text-center w-50">Update Password</button>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
          <div ng-show="success" class="text-center text-success">
            <strong ng-bind="vm.success"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
