<section class="create-project light-grey b-r-4">
  <div class="top-section p-20">
    <p class="modal-title f-aveinr f-24 text-center  d-in m-l-200 grey-dark">Confirm Delete?</p>
    <img src="../../../../../modules/core/client/img/insight-images/ic_close.png" ng-click="vm.closeModal()" class="pull-right"/>
  </div>
  <div class="col-xs-offset-2 col-xs-8">
        <div class="form-group">
            <p class="modal-body f-aveinr f-18 text-center grey-dark">Once you delete a user, this action cannot be undone. All active surveys that the user is taking will be unpublished.</p>
        </div>
     </div>
     <div class="text-center form-group m-t-20">
        <button type="submit" class="f-aveinr red-button-generic w-14 dark-red white w-40 p-10" ng-click="vm.deleteUser()" >Delete</button>
     </div>
  </div>
</section>
